parameters:
    level: 8
    paths:
        - src/
        - tests/
    excludePaths:
        - config/reference.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
